.idea/
.shared/
*.log
*.sql
www/
test_www
/src/vendor
public_html/assets
public_html/bundle_manifest.json
/public_html/images/uploads
/public_html/storage
/public_html/storage/
tests
watchers
bash
node_modules
copy_db.sh

/node_modules
/public/hot
/storage/*.key
/storage/app/
/vendor
.env
.env.backup
profildoors-supervisorconf.config
laravel-echo-server.json
laravel-echo-server.lock
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/rest/http-client.private.env.json
js_src/build
